*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: #c9c8bf;
}

.container {
    display: flex;
    width: 50%;
    height: 600px;
    margin:auto;
    margin-top: 2em;
}

.contact-container {
    width: 40%;
    background-color: white;
    height: 690px;
}

.chat-container {
    width:60%
}

.header-contact {
    height: 3em;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 0.5px solid #dadada ;
}

.header-chat {
    background-color: #EAEAEA;
    height: 3em;
}

.io-style {
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.user-name {
    color: black;
    font-weight: bold;
    font-size: small;
    margin-left: 0.2em;
}

.user-container {
    display: flex;
    align-items: center;
    margin-left: 0.5em;
}

.icon-style {
    margin-right: 0.5em;
    color: #B1B1B1;
    font-size: small;
}

.info-contact {
    display: inline;
    font-size: small;
}

.track-user {
    display: block;
}

.contact-icon {
    display: inline-block;
    margin-left: 0.5em;
    margin-right:0.2em;
}

.chat-header-contact {
    display: flex;
    align-items: center;
}

.header-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-name {
    color:black;
    font-weight: bold;
}

.track-user-style {
    color:gray
}

.chat-bg {
    background-repeat: no-repeat;
}

.main-chat {
    height: 602px;
    background-size: 100%;
    padding-top: 2em;
}

.footer-chat {
    height: 2.5em;
    display: flex;
    background-color: #EAEAEA;
    justify-content: space-around;
    align-items: center;

}

.input-bar {
    height: 2.5em;
    width: 75%;
    border:none;
    border-radius: 3px;
    color: black;
    outline: none;
    padding-left: 1em;
    font-size: x-small;

}

.received {
    width: 45%;
    height: 4.5em;
    background-color: white;
    margin-left: 1em;
    border-radius: 5px;
    font-size: small;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sent {
    width: 45%;
    height: 4.5em;
    background-color: #D5F9BA;
    border-radius: 5px;
    font-size: small;
    margin-top: 1em;
    align-self: flex-end;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.span-contact {
    padding-left: 0.5em;
    font-weight: bold;
    margin-top: 0.5em;
}

.span-data {
    padding-left: 12.5em;
    font-size: xx-small;
    vertical-align: -0.7em;
    align-self: flex-end;
    padding-right: 1%;
}

.lista-nomi {
    list-style-type: none;
    height: 3em;
    border-bottom: 0.2px solid rgb(238, 238, 238) ;
    margin-top: 0.5em;
}

.contacts-list {
    margin-top: 0.5em;
    margin-left:0.5em;
}

.name-list {
    vertical-align: 1.4em;
    font-size: small;
    font-weight: bold;
}

.notifications {
    width: 100%;
    height: 3em;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
}

.not-bell {
    width: 30px;
    background-color: white;
    border-radius: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8EDAFC;
    margin-left: 1em;
    margin-right:0.5em;
}

.span-not {
    font-size: small;
    font-weight: bold;
}

.span-not-link {
    font-size: x-small;
}

.notification-link {
    display: flex;
    flex-direction: column;
}

.input-bar-search {
    height: 2.5em;
    width: 95%;
    border:none;
    border-radius: 3px;
    color: black;
    outline: none;
    font-size: x-small;
    padding-left: 1em;
    border:0.1px solid rgb(238, 238, 238);

}

.input-div {
    background-color: #FAFAFA;
    height: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-chat {
    display: flex;
    flex-direction: column;
    
}