<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Whatsapp web</title>
</head>
<body>
    <!-- container principale -->
    <div id="app" class="container">

        <!-- container sezione contatti -->
        <div class="contact-container">
            <div class="header-contact">
                <div class="user-container">
                    <img :src="io_image" alt="" class="io-style">
                    <span class="user-name">Nome utente</span>
                </div>
                <div class="user-icon">
                    <a href=""><i class="fas fa-circle-notch icon-style"></i></a>
                    <a href=""><i class="fas fa-comment-alt icon-style"></i></a>
                    <a href=""><i class="fas fa-ellipsis-v icon-style"></i></a>
                </div>
            </div>
            <div class="main-contact">
                <div class="notifications">
                    <div class="not-bell"><i class="fas fa-bell-slash"></i></div>
                    <div class="notification-link">
                        <span class="span-not">Ricevi notifiche di nuovi messaggi</span>
                        <span class="span-not-link"><a href="">Attiva notifiche desktop</a></span>
                    </div>
                </div>
                <div class="input-div">
                    <input type="text" placeholder="Cerca o inizia una nuova chat" class="input-bar-search">
                </div>
                <div>
                    <ul class="contacts-list">
                        <li v-for="(contact,index) in contacts" class="lista-nomi" @click="activeContact(index)">
                            <img :src="contact.avatar" class="io-style"></img>
                            <span class="name-list">{{contact.name}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- container sezione chat -->
        <div class="chat-container">
            <div class="header-chat">
                <div class="chat-header-contact">
                    <div class="contact-icon">
                        <img :src="image_chat" alt="" class="io-style">
                    </div>
                    <div class="info-contact">
                        <span class="contact-name">{{contacts[indexA].name}}</span><br>
                        <span class="track-user-style">Ultimo accesso oggi 20/12/2021 alle 16:55:12</span>
                    </div>
                </div>
                <div class="icon-header-chat">
                    <a href=""><i class="fas fa-search icon-style"></i></a>
                    <a href=""><i class="fas fa-paperclip icon-style"></i></a>
                    <a href=""><i class="fas fa-ellipsis-v icon-style"></i></a>
                </div>
            </div>
            <div class="main-chat" :style="bgchat" class="chat-bg">
                <!-- <div class="received">
                    <span class="span-contact">Ciao bella</span>
                    <span class="span-data">20/12/2021 16:54:22</span>
                </div>
                <div class="sent">
                    <span class="span-contact">Hai sbagliato numero</span>
                    <span class="span-data">20/12/2021 16:54:22</span>
                </div>
                <div class="received">
                    <span class="span-contact">Scusa ciao</span>
                    <span class="span-data">20/12/2021 16:54:22</span>
                </div> -->
                
                <div v-for="message in contacts[indexA].messages">
                     <div :class="( message.status == 'sent') ? 'sent' : 'received'">
                         <span class="span-contact">{{message.text}}</span>
                         <span class="span-data">{{message.date}}</span>
                        </div>
                </div>
               


            </div>
            <div class="footer-chat">
                <a href=""><i class="far fa-smile icon-style"></i></a>
                <input type="text" class="input-bar" placeholder="Scrivi un messaggio">
                <a href=""><i class="fas fa-microphone icon-style" ></i></a>
            </div>
            <div></div>
        </div>
      </div>
    <script src="js/script.js"></script>
</body>
</html>